
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  justify-items: center;
  align-items: center;
}

.navbar {
  background: rgb(163, 29, 8);
  height: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "nav1 nav2 nav3";
  grid-gap: 10px;
}

/* 3 Main grid sections*/

.navbarLeft {
  grid-area: nav1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "link1 link2 link3 link4";
  grid-gap: 10;
  align-items: center;
  justify-items: center;
  list-style-type: none;
}

.logo {
  color: white;
  font-size: 50px;
  font-weight: 500;
  list-style-type: none;
  grid-area: nav2;
  align-self: center;
  justify-self: center;
}

.navbarRight {
  color: white;
  font-size: 20px;
  font-weight: 500;
  list-style-type: none;
  grid-area: nav3;
  align-self: center;
  justify-self: center;
}

/* navbarLeft sub-sections */

.navLeftHomeLink,
.navLeftHomeLinkActive {
  font-size: 30px;
  color: whitesmoke;
  grid-area: link1;
  cursor: pointer;
}

.navLeftPostsLink,
.navLeftPostsLinkActive {
  font-size: 30px;
  color: whitesmoke;
  grid-area: link2;
  cursor: pointer;
}

.navLeftAboutLink,
.navLeftAboutLinkActive {
  font-size: 30px;
  color: whitesmoke;
  grid-area: link3;
  cursor: pointer;
}

/* Nav left active*/

.navLeftHomeLinkActive {
  color: black;
}

.navLeftPostsLinkActive {
  color: black;
}

.navLeftAboutLinkActive {
  color: black;
}

/* Left Nav link Hover */

.navLeftHomeLink:hover {
  color: black;
}
.navLeftPostsLink:hover {
  color: black;
}
.navLeftAboutLink:hover {
  color: black;
}


