
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 500;
  list-style-type: none;
}

.navbar {
  height: 85px;
  background-color: rgb(100, 30, 30);
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbarNav {
  width: 500px;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName:hover {
  color: black;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.navbarListItemNameActive {
  color: black;
}
